@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 76.8px */
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 76.8px */
}
